include ../_include/util

doctype html

html( lang="en" )
    include ../_include/head

    body
        .main-content
            block content
            include ../_include/footer

        include ../_include/scripts
