include ../_include/util

doctype html

html( lang="en" )
    include ../_include/head

    body
        include ../_include/nav

        .main-content
            block content

        include ../_include/footer

        include ../_include/scripts