extends ../../_layouts/default

block content
    .container
        img.img-responsive( src="http://goo.gl/fSV1oN" )
        h1 Harp: An awesome static site generator
        h3 9-21-2014
        h6
            a.hashtag( href="/filter/harp" ) #harp 
            a.hashtag( href="/filter/javascript" ) #javascript 
            a.hashtag( href="/filter/programming" ) #programming 

