include util

footer
	.container.row.footer
		.col-md-6
			img( src='/assets/images/footer_img.png' )
		.col-md-2
			h3.title Navigate
			h5 Home
			h5 Sign Up
		.col-md-2
			h3.title Download
			h5 iOS
			h5 Android
		.col-md-2
			h3.title Follow us
			h5 Facebook
			h5 Twitter
			h5 Instagram
			h5 YouTube
			h5 LinkedIn
	.container.row.subfooter
		center
			h5 Copyright &copy; 2015 Banger! Skateboarding Co.
