include util

footer
	.container.row
		.col-sm-4
			h4 BANGER!
			h6 Copyright &copy; 2015
		.col-sm-3
			h4 The Team
			h6 Jason Safaiyeh (CEO)
			h6 Jeremy Asuncion (CTO)
			h6 Keshav Narula (CDO)
			h6 Brian Aguilar (CMO)
		.col-sm-3
			h4 Social Media
			h6 Facebook
			h6 Twitter
			h6 Instagram
			h6 YouTube
			h6 LinkedIn
		.col-sm-2
			h4 Download Now
			a(href = "https://play.google.com/store?hl=en") Google Play
			a(href = "https://apple.com") App Store