include util

footer
	.container.row.footer
		.col-md-6
			img( src='/assets/images/footer_img.png' )
		.col-md-2
			h3.title NAVIGATE
			h5 Home
			h5 Sign Up
		.col-md-2
			h3.title FOLLOW US
			h5
				a( href="https://facebook.com/pages/Banger/1991183874355888" target="_blank" ) Facebook
			h5
				a( href="https://twitter.com/banger_app" target="_blank" ) Twitter
			h5 
				a( href="https://instagram.com/bangerapp/" target="_blank" ) Instagram
			h5
				a( href="https://www.youtube.com/channel/UC_zWU7DdyLEcVcRqVDzekqw" target="_bank" ) YouTube
			h5
				a( href="https://www.linkedin.com/company/4846534?trk=prof-exp-company-name" target="_blank" ) LinkedIn
	.container.row.subfooter
		center
			h5 Copyright &copy; 2015 Banger! Skateboarding Co.
