include util

footer
	.container.row.main
		.col-sm-2
			img( src="/assets/logos/logo.png" )
		.col-sm-4
			h1 Banger!
		.col-sm-2
			h3.title Navigate
			h5 Home
			h5 About Us
			h5 Contact Us
			h5 Sign Up
		.col-sm-2
			h3.title Download
			h5 iOS
			h5 Android
		.col-sm-2
			h3.title Social
			h5 Facebook
			h5 Twitter
			h5 Instagram
			h5 YouTube
	.container.row.sub
		center
			h5 Copyright &copy; 2015 Banger! Skateboarding Co.
