include util

nav.navbar.navbar-default
	.container
		div.navbar-header
			a.navbar-brand
				img.img-responsive(src='assets/logos/logo.png')
		
		ul.nav.navbar-nav.navbar-right
			li
				a( href='#' ) HOME 
			li
				a( href='#' ) SIGN UP
