include util

nav.navbar.navbar-default.navbar-fixed-top
	.container
		div.navbar-header
			a.navbar-brand
				img.img-responsive(src="assets/logos/logo.png")
				span Banger!
		
		ul.nav.navbar-nav.navbar-right
			li
				a( href="#" ) HOME 
			li
				a( href="#" ) SIGN UP
			li
				a( href="#" ) CONTACT
