mixin style( href )
    link( rel='stylesheet', href=href )

mixin script( src, async )
    - if( async ) {
        script( type='text/javascript', src=src, async )
    - } else {
        script( type='text/javascript', src=src )
    - }
