doctype

html( lang="en" )
    head
        title 404
        meta( charset="utf-8" )
        meta( name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" )

    body( unresolved )
        h1 This is a 404 page bro