
footer {
	background: #2B363E;
	bottom: 0px;
	color: #E1E1DF;
	width: 100%;
	font-size: 5vm;
	margin-top: 16%;
}

footer a {
	color: #E1E1DF;
}

footer .row {
	margin-left: 0px;
	margin-right: 0px;
}

footer > .container.row {
	width: 100%;
}

.container.row > .footer{
	padding: 20px;
}

.footer .title {
	color: #7AA8C8;
}

footer img{
	margin-top: 3%;
	width: 40%;
	top: 50%
}

.footer .col-xs-4 {
	padding-top: 2%;
}

.subfooter {
	background: #1F2326;
	padding-bottom: 0.5%;
}
