
footer {
	background: #2B363E;
	bottom: 0px;
	color: #E1E1DF;
	font-size: 11px;
	width: 100%;
	position: fixed;
}

footer .row {
	margin-left: 0px;
	margin-right: 0px;
}

footer > .container.row {
	width: 100%;
}

.container.row > .footer{
	padding: 20px;
}

.footer .title {
	color: #7AA8C8;
}

footer img{
	padding-top: 5%;
	padding-bottom: 5%;
}

.footer .col-sm-3{
	padding-left: 5%;
}

.footer .col-sm-4 {
	padding-top: 3%;
}

.subfooter {
	background: #1F2326;
}
