#fullpage .section .one{
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/background.png")
}

#fullpage .section .two{
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/sign_up.png")
}

#fullpage img{
  padding-top: 225px;
  height: 30%;
  width: 30%;
  margin: 0 auto;
}

#fullpage h1{
  color: white;
  padding-top: 1%;
}
