.section .one{
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/background.png")
}

.section .two{
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/sign_up.png")
}
