*{
   margin:  0;
   padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  opacity: 0;
}

.main-content {
  min-height: 100%;
  margin-bottom: -100px;
}

.navbar {
    background: #0069AA;
    margin-bottom: 0;
    border: 0;
}
