.navbar-default {
	background: #565D64;
	border: none;
	padding-bottom: 10px;
	transition: transform 0.4s ease-in-out;
}

.navbar-default img{
	position: fixed;
}

.navbar-brand > span {
	display: block;
	color: white;
	transform: translate(40px, 5px);
}

.navbar li > a {
	color: white !important;
	transform: translateY(5px);
}

.navbar li > a:hover {
	/* Placeholder color until designer changes it */
	color: red !important;
	transition: color 0.1s ease-in-out;
}
