.navbar-default {
	background: transparent;
	border: none;
	transition: transform 0.4s ease-in-out;
}

.navbar-default img{
	width: 25px;
	height: 25px;
}

.navbar-brand > span {
	display: block;
	color: white;
	transform: translate(40px, 5px);
}

.navbar li > a {
	color: white !important;
	font-size: 20px;
	transform: translateY(5px);
}

.navbar li > a:hover {
	/* Placeholder color until designer changes it */
	color: #7AA8C8 !important;
	transition: color 0.1s ease-in-out;
}

.navbar {
	margin-bottom: 0px;
}
