include util
+style('/site.min.css')

head
    title Banger!
    link(rel='shortcut icon', href='/assets/logos/favicon.ico' )
    meta( charset='utf-8' )
    meta( name='viewport'
          content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' )

    include styles

    block styles
