extends _layouts/default

block title
	title Oh noes

block content
	// Image gotten from http://goo.gl/J7P3PY
	img( src="/images/404.svg", width="300").img-responsive.center-block
	h3.text-center.
		You seem to be lost. Use this equation to find you way back!

	h1.equation.
		\[
			\frac{1}{d} = \frac{ \sin\left( \alpha + \beta \right) }{ \ell \sin\alpha \sin\beta }
		\]
