extends _layouts/default

block content
    .container
        h2 About Jerms' Blog
        h4 9-22-14
        .well.well-lg
            h6
                strong Introductions
                br
                p.
                    Welcome to my blog, a place where you can read interesting things
                    about <strong>Mathematics</strong>, <strong>Computer Science</strong>, 
                    <strong>Programming</strong>, <strong>Technology</strong>, and <strong>Gaming</strong>.
                br
            h6
                strong Who's "Jerms?"
                img.img-responsive.img-circle.center-block#about-img( src="images/profile.png" )
                p.
                    That's me! Well, my full name is Manuelito Jeremy Asuncion, but I prefer
                    being called Jeremy. I've collected quite an array of nicknames over the years
                    such as Jerms, Germs, Germy, etc.
                br
                p.
                    I'm a freshmen majoring in Computer Science at San Jose State University. 
                    I'm also a self-taught programmer <em>somewhat</em> proficient in
                    <strong>Java</strong>, <strong>C++</strong>, and <strong>JavaScript</strong>.
                    I say somewhat because I'm haven't memorized the standard APIs. I've also
                    had prior experience with <strong>Python</strong>, <strong>PHP</strong>,
                    <strong>C#</strong>, and many other languages that I can't remember.
                br
            h6
                strong About the Blog
                br
                p.
                    Elaborating from the introduction, I'm mainly interested in maths, CS, Programming,
                    tech, and gaming, therefore it makes sense for me to write about them. 
                    But I also enjoy helping and informing people. And maybe my
                    blog posts can help or inform people.
                br
            h6
                strong How to Contact Me
                .row.about-row
                    .col-md-2.col-xs-2
                    .col-md-2.col-xs-2
                        a.about-img-link( href="mailto:jeremyasuncion808@gmail.com" )
                            img.img-responsive.img-link( src="images/about/contact/gmail.png" )
                    .col-md-2.col-xs-2
                        a.about-img-link( href="https://www.facebook.com/codemonkey800" )
                            img.img-responsive.img-link( src="images/about/contact/facebook.png" )
                    .col-md-2.col-xs-2
                        a.about-img-link( href="https://twitter.com/codemonkey800" )
                            img.img-responsive.img-link( src="images/about/contact/twitter.png" )
                    .col-md-2.col-xs-2
                        a.about-img-link( href="http://goo.gl/MepiYN" )
                            img.img-responsive.img-link( src="images/about/contact/linkedin.png" )
            h6
                strong How to View My Projects
                .row.about-row
                    .col-md-3.col-xs-3
                    .col-md-2.col-xs-2
                        a.about-img-link( href="https://github.com/codemonkey800" )
                            img.img-responsive.img-link( src="images/about/projects/github.png" )
                    .col-md-2.col-xs-2
                    .col-md-2.col-xs-2
                        a.about-img-link( href="https://bitbucket.org/codemonkey800" )
                            img.img-responsive.img-link( src="images/about/projects/bitbucket.png" )

