extends _layout/default

block content
	.fullscreen.background( src="assets/images/background.png", data-img-width='1600', data-img-height='1064')
			.content-a
					.content-b
						h1 Centered content
	img.cover.img-responsive( src="/assets/images/sign_up.png" )

	
