extends _layout/default

block content
	img.cover.img-responsive( src="/assets/images/background.png" )
	include ../public/_include/nav
	img.cover.img-responsive( src="/assets/images/sign_up.png" )
	include ../public/_include/footer

	
