extends _layout/default

block content
	.bangerscreen
		img.cover.img-responsive( src="/assets/images/background.png" )
	.signupscreen
		img.cover.img-responsive( src="/assets/images/sign_up.png" )
	

	
