// Include Bootstrap stuff
link( rel="stylesheet", href="/bootstrap-flat/css/vendor/bootstrap.min.css" )
link( rel="stylesheet", href="/bootstrap-flat/css/flat-ui.min.css" )

// Main website CSS
link( rel="stylesheet", href="/css/main.css" )
link( rel="stylesheet", href="/css/bootstrap-custom.css" )
link( rel="stylesheet", href="/css/sticky-footer.css" )
link( rel="stylesheet", href="/css/post.css" )
link( rel="shortcut icon", href="/images/favicon.ico" )

// Scripts required for IE 6-8
script( src="/bootstrap-flat/js/vendor/html5shiv.js" )
script( src="/bootstrap-flat/js/vendor/respond.min.js" )

// MathJax stuff
script( type="text/x-mathjax-config" ).
	MathJax.Hub.Config( {
		TeX: {
			equationNumbers: { autoNumber: "AMS" }
		}
	} );
script( type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" )