// Main script
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/ace.js" )

// Supported languages
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-assembly_x86.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-batchfile.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-c_cpp.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-csharp.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-css.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-html.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-jade.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-java.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-javascript.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-json.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-latex.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-lua.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-mysql.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-objectivec.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-python.js" )
script( src="//cdn.jsdelivr.net/ace/1.1.6/min/mode-yaml.js" )

script( src="//cdn.jsdelivr.net/ace/1.1.6/min/theme-monokai.js" )

script.
    var editors = document.querySelectorAll( '.editor' );
    for( var i = 0; i < editors.length; i++ ) {
        var editor = ace.edit( editors[ i ] );
    
        editor.setOptions( {
            maxLines: editor.getSession().getLength()
        } );

        if( window.innerWidth <= 400 ) {
            editors[ i ].style.fontSize = '12px';        
        } else {
            editors[ i ].style.fontSize = '18px';
        }

        editor.setTheme( 'ace/theme/monokai' );
        editor.setReadOnly( true );
        editor.setShowPrintMargin( false );
        
        editor.getSession().setMode( 'ace/mode/' + editors[ i ].dataset.language );
        editor.getSession().setUseWorker( false );
    }