extends ../../_layouts/default

block content
    .container
        img.img-responsive( src="http://goo.gl/fSV1oN" )
        h1 Why You Should Use Android
        h3 9-16-2014
        h6
            a.hashtag( href="/filter/android" ) #android 
            a.hashtag( href="/filter/technology" ) #technology 
            a.hashtag( href="/filter/smartphones" ) #smartphones 

