footer
    .container
        .row
            .col.l6.m12.s12
                h5.code-sucks code-sucks$: |
                p.
                    code-sucks, an awesome blog made by Jeremy Asuncion.
                    Prepare your rectum for code, maths, and other cool stuff.
            .col.l3.hide-on-med-and-down
                h5 Contact
                ul
                    li
                        a(href="mailto:jeremyasuncion808@gmail.com") Email
                    li
                        a(href="mailto:jeremy.asuncion@sjsu.edu") School Email
                    li
                        a(href="https://www.linkedin.com/in/jeremyasuncion") LinkedIn
                    li
                        a(href="") 
            
            .col.l3.hide-on-med-and-down
                h5 Projects
                ul
                    li
                        a(href="https://github.com/codemonkey800/") GitHub
                    li
                        a(href="https://bitbucket.org/codemonkey800") BitBucket
                    
    .footer-copyright
        .container
            span
                img(src="/images/copyleft.png", width="12", height="12", style="margin-right: 10px")
                | 2014 Copyleft Jeremy Asuncion
            a.right(href="https://github.com/codemonkey800/code-sucks/blob/master/LICENSE") MIT License
