include util

footer
	.container.row
		.col-sm-2
			h6 Copyright 2013
		.col-sm-4
			h6 About us
			p TEXT
		.col-sm-2
			h6 Navigation
			ul.li Home
			ul.li Sweg
		.col-sm-2
			h6 Follow us
		.col-sm-2
			h6 CODED WITH COOL