include util

+script( "https://code.jquery.com/jquery-2.1.3.min.js" )
+script( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" )
+script( "https://apis.google.com/js/client.js" )

script.
    window.Banger = {};

+script( "/site.min.js" )
