mixin style( href )
    link( rel="stylesheet", href=href )
        
mixin gifv( href )
    - href = href.replace( '.gifv', '' );
    - webmHref = href + '.webm'
    - mp4Href = href + '.mp4'
    video( autoplay, loop, muted )
        source( type="video/webm", src=webmHref )
        source( type="video/mp4", src=mp4Href )
        
mixin addPreloader( id )
    .preloader-wrapper.big.active.valign-wrapper( id=id )
            .spinner-layer.spinner-blue
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-red
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-green
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-green
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
