mixin style( href )
    link( rel="stylesheet", href=href )
        
mixin addPreloader( id )
    .preloader-wrapper.big.active.valign-wrapper( id=id )
            .spinner-layer.spinner-blue
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-red
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-green
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
            .spinner-layer.spinner-green
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
