extends ../../_layouts/default

block title
    title %s

block content
    .container
        img.img-responsive( src="%s" )
        h3 %s
        h4 %s
        h6
%s

        .well.well-lg
%s

        include ../../_includes/comments
