extends default

block styles
    +style("https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/codemirror.min.css")
    +style("https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/theme/monokai.min.css")

block content
    - var moment = require('moment');
    - var date = moment(pageData.date).format('hh:mm a - MMMM Do, YYYY');
    - var editedDate = null;
    - if(pageData.editedDate) {
        - editedDate = moment(pageData.editedDate).format('hh:mm a - MMMM Do, YYYY');
    - }
    .row
        .col.s12.m10.l10.offset-m1.offset-l1
            .card.white.post-content.flow-text
                .card-image
                    img(src=pageData.banner)
                .card-content
                    .row
                        .col.s12.m10.l10.offset-m1.offset-l1
                            h2
                                if pageData.postTitle
                                    = pageData.postTitle
                                else
                                    = pageData.title
                                    
                            if editedDate
                                span
                                    = date
                                span.edited-date
                                    em Edited: 
                                    = editedDate
                                br
                            else
                                p: = date
                                                            
                                
                            if pageData.tags
                                small.tags
                                    each tag in pageData.tags
                                        a(href="#")
                                            = tag
                            .post-body
                                block postContent
                                
                .card-action#share.valign-wrapper
                    include ../_include/social.html

        
            include ../_include/comments
          
    
    
block scripts
    include ../_include/codemirror-scripts
    include ../_include/mathjax
    script(src="/js/page/post.js")
        
    - var title = pageData.pageTitle ? pageData.pageTitle : pageData.title;
    script
        :coffee
            $('#top-nav > div > a.brand-logo.white-text').text '!{title}'
