extends ../../_layouts/default

block content
    .container
        img.img-responsive( src="http://goo.gl/fSV1oN" )
        h1 Linked Lists
        h3 9-18-2014
        h6
            a.hashtag( href="/filter/c++" ) #c++ 
            a.hashtag( href="/filter/computer-science" ) #computer-science 
            a.hashtag( href="/filter/algorithms" ) #algorithms 
            a.hashtag( href="/filter/data-structures" ) #data-structures 

