extends _layout/default

block content
	include _include/nav
	<!-- TODO: Video Screen - Display "Banger!" -->
	<!-- TODO: Sign Up Screen -->

	h1 We are not allowed to make custom graphics 
	h1 THIS TEST WORKS
	include _include/footer