extends ../../_layouts/default

block content
    .container
        img.img-responsive( src="http://goo.gl/fSV1oN" )
        h1 Simple Explanation of Riemann Sum
        h3 9-16-2014
        h6
            a.hashtag( href="/filter/mathematics" ) #mathematics 
            a.hashtag( href="/filter/calculus" ) #calculus 

