@import 'base';

// I'm sorry
body > main > div > div.col.m5.l4.hide-on-small-and-down > div > div > span {
    color: map-get($grey, 'darken-4') !important;
}

.archive {
    display: none;

    h5 {
        width: 100%;
        padding: 10px;
}

    h5:hover {
        background: map-get($grey, 'lighten-2');
}

    > .collapse {
        margin-left: 30px;
}

    > .collapse  > div {
        margin-left: 60px;
}

    h5 > i {
        display: inline-block;
        @include transform(rotate(-90deg));
        @include transition(transform 0.3s ease-in-out);
}

    h5.open > i {
        @include transform(rotate(0deg));;
}

    li {
        padding: 10px;
}

    li:hover {
        background: map-get($grey, 'lighten-2');
}
}

.archive.loaded {
    display: block;
}

#archive-preloader {
    display: block;
    margin: 50% auto;
}
