extends ../../_layouts/default

block content
    .container
        img.img-responsive( src="http://goo.gl/fSV1oN" )
        h1 Matrix Multiplication using C++
        h3 9-21-2014
        h6
            a.hashtag( href="/filter/mathematics" ) #mathematics 
            a.hashtag( href="/filter/c++" ) #c++ 
            a.hashtag( href="/filter/programming" ) #programming 

